/* Circle's Styles */
*{
    box-sizing: border-box;
}
/* Sets the containers height and width */
.base-timer {
    position: relative;
    height: 100px;
    width: 100px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 15px;
    stroke: #181818;
}

/* Text styles */

.base-timer__label {
    position: absolute;

    /* Size should match the parent container */
    width: 100px;
    height: 100px;

    /* Keep the label aligned to the top */
    top: 0;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Sort of an arbitrary number; adjust to your liking */
    text-align: center;
}

.base-timer__label h2, .base-timer__label p{
    margin: 0;
    padding: 0;
}
.base-timer__label h2 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 8px;
} 

.base-timer__label p{
    font-size: 11px;
    color: #42464e;
}

.base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 15px;
  
    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;
  
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
  
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
  
    /* Allows the ring to change color when the color value updates */
    stroke: #ea3750;
  }
  
  .base-timer__svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
  }

  /* Timers Rows */

  .deck{
      width: min-content;
      display: flex;
      flex-direction: column;
      background: #2b2d32;
  }

  .row {
      display: flex;
      flex-direction: row;
  }

  .clock:first-child {
      margin-right: 27px;
  }

  .row:first-child .clock{
      margin-bottom: 27px;
  }

  /* media query */

  @media screen and (max-width: 720px){
      .row{
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .clock:first-child{
          margin-right: 0;
      }

      .clock{
          margin-bottom: 27px;
      }

      .clock:last-child{
          margin-bottom: 0;
      }
  }